/*******

DocsJS Theme
Name: Minimal
Author: Alexander 'Hailiax' Wing
Updated: 1 Oct 2017

*******/

/* CSS stuff */
@import url('https://fonts.googleapis.com/css?family=Nunito:400,600');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
h1,h2,h3,h4,h5,h6{
	margin-top: inherit;
	margin-bottom: inherit;
	font-size: inherit;
	font-weight: inherit;
}
s-c,t-p,h-d,t-l,t-x,e-g,e-x,c-d,docs-js,main,nav{
	display: block;
}
v-r{
	display: none;
}
s-c,div[docsjs-tag="column-left"],div[docsjs-tag="column-right"]{
	will-change: contents;
}
s-c s-c{
	will-change: auto;
}

/* Basic setup */
body,html{
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	margin: 0;
	padding: 0;
}
docs-js{
	color: #48525B;
	line-height: 1.4em;
	position: absolute;
	width: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: 100%;
	filter: invert(0%);
}
div[docsjs-tag="bg"]{
	position: fixed;
	height: 100%; top: 0;
	width: 100%; left: 0;
	z-index: -1;
	background-color: #FFF;
}

/* Main content */
s-c{
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	border-top: solid 1px #E0E0E0;
	border-bottom: solid 1px #E0E0E0;
	padding-top: 1em;
	padding-bottom: 1em;
}
s-c:first-child{
	padding-top: 0;
	border-top: none;
}
s-c + s-c, v-r + s-c{
	border-top: none;
}
h-d,t-p{
	position: relative;
	overflow: hidden;
}
t-p[docsjs-state="min"] > t-l, h-d[docsjs-state="min"] > t-l{
	color: #23B1E9;
}
s-c[docsjs-state="min"] > h-d{
	margin-bottom: 0.5em;
}
h-d,t-p:first-child{
	margin-top: 0;
}
t-l{
	position: relative;
	font-size: 2.3em;
	padding-left: 0.4em;
	padding-right: 1.75em;
	line-height: 2em;
	font-weight: 600;
	cursor: pointer;
	color: #292F35;
}
t-p t-l, s-c s-c t-l{
	font-size: 1.7em;
	padding-left: 0.55em;
}
t-x,e-g,e-x{
	padding: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	position: relative;
	overflow: hidden;
	background-color: #FFF;
}
button[docsjs-tag="accessibility-button"]{
	font-family: 'Nunito', sans-serif;
	position: relative;
	width: 100%;
	font-weight: 600;
	background-color: #1F2429;
	border: none;
	padding-top: 0.375em;
	padding-bottom: 0.375em;
	font-size: 1.7em;
	color: #FFF;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}
button[docsjs-tag="accessibility-button"]:focus{
	background-color: #39434C;
	outline: none;
}
div[docsjs-tag="header"]{
	font-size: 1.2em;
	margin-top: 0.9em;
	position: relative;
	text-align: center;
	padding-left: 0.8333em;
	padding-right: 0.8333em;
	word-spacing: 1em;
	font-weight: 600;
}
div[docsjs-tag="header"] span{
	cursor: pointer;
	word-spacing: normal;
	white-space: nowrap
}
a {
	color: #23B1E9;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
h3{
	font-weight: 600;
	font-size: 0.9em;
}
h4{
	font-weight: 600;
	font-size: 0.8em;
}
h5{
	font-weight: 600;
	font-size: 0.7em;
}
h6{
	font-weight: 600;
	font-size: 0.7em;
	color: #6A737D;
}

/* e-x/e-g support */
div[docsjs-tag="ebefore"]{
	position: relative;
	background-color: #FFF;
	font-size: 1.1em;
	font-weight: 600;
	height: 1.75em;
	line-height: 1.75em;
	padding-left: 2.1818em;
	color: #23B1E9;
	cursor: pointer;
}
div[docsjs-tag="button-ebefore"]{
	position: absolute;
	height: 1em;
	width: 1em;
	margin-left: -1.2727em;
	top: 0; bottom: 0; margin-top: auto; margin-bottom: auto;
	cursor: pointer;
}
div[docsjs-tag="efiller"]{
	position: relative;
}

/* c-d (Cloud9 Ace) styles */
c-d{
	position: relative;
	width: 100%;
	padding: 1.25em;
	border-left: none; border-right: none;
	padding-top: 0; padding-bottom: 0;
	margin-left: -1.25em;
	white-space: pre;
	background-color: transparent !important;
	opacity: 1;
	font-family: 'Source Code Pro', monospace !important;
}
.ace_active-line, .ace_gutter-active-line{
	background-color: rgba(31,36,41,0.05) !important;
}
.ace_gutter{
	background-color: transparent !important;
}
.ace_print-margin{
	background-color: rgba(31,36,41,0.06) !important;
}
.ace_scroll-left{
	box-shadow: none !important;
	border-left: solid 1px rgba(31,36,41,0.06) !important;
}
.ace_br1, .ace_br12, .ace_br15{
	border-radius: 0 !important;
}
pre,code{
	display: inline;
	font-size: 0.8em;
	font-family: 'Source Code Pro', monospace;
	padding: 0.2em;
	background: rgba(40,40,40,0.04);
	border-radius: 0.2em;
}

/* Buttons */
div[docsjs-tag="button-minimize"],div[docsjs-tag="button-menu"]{
	position: absolute;
	border: solid 0.4em transparent;
	left: 0; right: 0; margin-left: auto; margin-right: 0;
	top: 0; bottom: 0; margin-top: auto; margin-bottom: auto;
	font-size: 1em;
	height: 1em;
	width: 1em;
	cursor: pointer;
}
div[docsjs-tag="button-menu"]{
	opacity: 0;
	border-width: 0.25em;
	font-size: 1.1em;
	margin-right: 0.25em;
	-o-transition: opacity 300ms;
	-ms-transition: opacity 300ms;
	-moz-transition: opacity 300ms;
	-webkit-transition: opacity 300ms;
    transition: opacity 300ms;
}
div[docsjs-tag="button-menu"][docsjs-state="active"]{
	opacity: 1;
}
[docsjs-tag="button-parent"]{
	background-color: transparent;
	height: 1em;
	width: 1em;
	position: relative;
}
[docsjs-tag="button-child"]{
	background-color: #23B1E9;
	border-color: #23B1E9;
	color: #23B1E9;
	position: absolute;
	border-style: solid;
	width: 0.1em;
	height: 0.1em;
	border-width: 0.075em;
	-webkit-border-radius: 0.1em;
	-moz-border-radius: 0.1em;
	border-radius: 0.1em;
	left: 0; right: 0; top: 0; bottom: 0; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto;
}

/* Buttons in sidebars */
div[docsjs-tag="column-header"] div[docsjs-tag="button-parent"]{
	font-size: 1.5em;
	top: 0.4em;
}
div[docsjs-tag="column-push-right"]{
	right: 0;
	margin-right: 0.8em;
}

/* Sidebars */
div[docsjs-tag="column-left"],div[docsjs-tag="column-right"]{
	height: 100%;
	top: 0;
}
div[docsjs-tag="column-left"]{
	border-right: #E0E0E0 solid 1px;
}
div[docsjs-tag="column-right"]{
	border-left: #E0E0E0 solid 1px;
}
div[docsjs-tag="column-header"]{
	position: fixed;
	background-color: #1F2429;
	color: #FFF;
	z-index: 5;
	font-size: 1.7em;
	padding: 0.6em;
	text-align: center;
	box-sizing: border-box;
}
div[docsjs-tag="column-header"] div[docsjs-tag="button-parent"]{
	font-size: 1em;
	top: 0.5em;
}
div[docsjs-tag="column-content"],div[docsjs-tag="column-filler"]{
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	background-color: #E8E8E9;
}
div[docsjs-tag="column-filler"]{
	background-color: #F3F3F4;
}
div[docsjs-tag="etitle"]{
	font-size: 1.7em;
	font-weight: 600;
	padding-left: 0.6em;
	padding-top: 0.6em;
	padding-bottom: 0.6em;
	background-color: #F3F3F4;
}
div[docsjs-tag="column-content"] e-g,div[docsjs-tag="column-content"] e-x{
	height: auto;
	background-color: #F3F3F4;
}

/* Menu in sidebar */
div[docsjs-tag="column-left"][docsjs-state="menu"] div[docsjs-tag="column-content"]{
	background-color: #F3F3F4;
}
div[docsjs-tag="column-left"] div[docsjs-tag="menu"]{
	margin-top: 3em;
	background-color: #F3F3F4;
}
div[docsjs-tag="column-right"] div[docsjs-tag="menu"]{
	margin-top: 0;
}
div[docsjs-tag="column-right"] div[docsjs-tag="menu-preferences"]{
	display: none;
}
div[docsjs-tag="column-right"][docsjs-state="menu"]{
	border-left: none;
}
div[docsjs-tag="column-right"][docsjs-state="menu"] div[docsjs-tag="column-content"]{
	background-color: #FFF;
}
div[docsjs-tag="column-right"][docsjs-state="menu"] div[docsjs-tag="column-header"]{
	display: none;
}

/* Menu */
div[docsjs-tag="menu"]{
	position: relative;
	overflow: hidden;
	padding: 1em;
}
div[docsjs-tag='menu-preferences']{
	position: relative;
	width: 100%;
	text-align: center;
}
div[docsjs-tag='menu-preferences'] [docsjs-tag="button-child"]{
	background-color: #3E464E;
	border-color: #3E464E;
	color: #3E464E;
}
div[docsjs-tag='menu-preferences-item']{
	display: inline-block;
	cursor: pointer;
	font-size: 1.8em;
	width: 1em;
	height: 1em;
	padding: 0.25em;
	padding-top: 0;
	opacity: 1;
}
div[docsjs-tag='menu-title']{
	line-height: 1.8em;
}
div[docsjs-tag='menu-title'][docsjs-state='youarehere']{
	font-weight: 600;
	color: #23B1E9;
}
div[docsjs-tag='menu-item']{
	border-left: solid 0.05em #E0E0E0;
	padding-left: 0.5em;
	overflow: hidden;
}
div[docsjs-tag='menu-item'][docsjs-state='min']{
	max-height: 1.8em;
	border-bottom: solid 0.05em #E0E0E0;
	border-top: solid 0.05em #E0E0E0;
}
div[docsjs-tag='menu-item'][docsjs-state='min'] > div[docsjs-tag='menu-title']:first-child:before{
	content: "> ";
}
div[docsjs-tag='menu-item'][docsjs-state='min']:hover{
	border-left: solid 0.05em #888;
	border-bottom: solid 0.05em #888;
	border-top: solid 0.05em #888;
}
div[docsjs-tag='menu-item']:hover{
	border-left: solid 0.05em #888;
	cursor: pointer;
}

/* Markdown styles */
docs-js[mode="markdown"] t-x{
	padding-top: 0;
	padding-bottom: 0;
}
docs-js[mode="markdown"] h3{
	font-weight: 600;
	font-size: 1.3em;
	color: #292F35;
}
docs-js[mode="markdown"] h4{
	font-weight: 600;
	font-size: 1.1em;
	color: #292F35;
}
docs-js[mode="markdown"] h5{
	font-weight: 600;
	font-size: 1em;
	color: #292F35;
}
docs-js[mode="markdown"] h6{
	font-weight: 600;
	font-size: 1em;
	color: #6A737D;
}
docs-js[mode="markdown"] c-d{
	background-color: #F6F8FA;
	margin-bottom: 1em;
}
docs-js[mode="markdown"] e-g + * p:first-child{
	margin-top: 0;
	margin-bottom: 1em;
}
docs-js[mode="markdown"] e-g{
	height: auto !important;
}
docs-js[mode="markdown"] div[docsjs-tag="ebefore"]{
	display: none;
}