/*******

DocsJS Theme
Name: Minimal
Author: Alexander 'Hailiax' Wing
Updated: 17 Sep 2017

*******/

/* CSS stuff */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
h1,h2,h3,h4,h5,h6{
	margin-top: inherit;
	margin-bottom: inherit;
	font-size: inherit;
	font-weight: inherit;
}
div[docsjs-tag="s-c"],div[docsjs-tag="column-left"],div[docsjs-tag="column-right"]{
	will-change: contents;
}
div[docsjs-tag="s-c"] div[docsjs-tag="s-c"]{
	will-change: auto;
}

/* Basic setup */
body,html{
	font-family: 'Noto Sans', sans-serif;
	font-weight: 400;
	margin: 0;
	padding: 0;
}
div[docsjs-tag="DocsJS-This-Baby"]{
	color: #000;
	line-height: 1.4em;
	position: absolute;
	width: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: 100%;
	filter: invert(0%);
}
div[docsjs-tag="bg"]{
	position: fixed;
	height: 100%; top: 0;
	width: 100%; left: 0;
	z-index: -1;
}

/* Main content */
div[docsjs-tag="s-c"]{
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}
div[docsjs-tag="s-c"] div[docsjs-tag="s-c"]{
	border-left: solid 1px #E0E0E0;
	margin-left: 1em;
}
div[docsjs-tag="h-d"],div[docsjs-tag="t-p"]{
	position: relative;
	overflow: hidden;
}
div[docsjs-tag="t-p"] > div[docsjs-tag="s-c"]{
	border-bottom: solid 1em #FFF;
	margin-top: 0;
}
div[docsjs-tag="t-p"] > div[docsjs-tag="t-p"]{
	border-left: solid 1px #E0E0E0;
	margin-top: 0;
	margin-left: 1em;
}
div[docsjs-tag="t-p"][docsjs-state="min"] > div[docsjs-tag="t-l"], div[docsjs-tag="h-d"][docsjs-state="min"] > div[docsjs-tag="t-l"]{
	text-decoration: underline;
}
div[docsjs-tag="h-d"],div[docsjs-tag="t-p"]:first-child{
	margin-top: 0;
}
div[docsjs-tag="t-l"]{
	position: relative;
	font-size: 2.5em;
	padding-left: 0.4em;
	padding-right: 3em;
	padding-top: 0.75em;
	padding-bottom: 0.4em;
	font-weight: 700;
	cursor: pointer;
}
div[docsjs-tag="t-p"] div[docsjs-tag="t-l"]{
	font-size: 1.6em;
	padding-left: 0.625em;
}
div[docsjs-tag="t-x"],div[docsjs-tag="e-g"],div[docsjs-tag="e-x"]{
	padding: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	position: relative;
	overflow: hidden;
}
button[docsjs-tag="accessibility-button"]{
	position: relative;
	width: 100%;
	font-weight: 700;
	background-color: rgba(31,36,41,0.95);
	border: solid #FFF 0.5em;
	border-bottom: none;
	line-height: 2em;
	font-size: 2em;
	color: #FFF;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}
button[docsjs-tag="accessibility-button"]:focus{
	background-color: rgba(31,36,41,0.7);
	outline: none;
}
div[docsjs-tag="header"]{
	font-size: 1.2em;
	margin-top: 0.5em;
	position: relative;
	text-align: center;
	word-spacing: 1em;
}
div[docsjs-tag="header"] span{
	cursor: pointer;
	word-spacing: normal;
}
a {
	color: #505050;
}

/* e-x/e-g support */
div[docsjs-tag="ebefore"]{
	position: relative;
	background-color: #FFF;
	font-size: 1.1em;
	height: 1.75em;
	line-height: 1.75em;
	padding-left: 2.1818em;
	cursor: pointer;
}
div[docsjs-tag="button-ebefore"]{
	position: absolute;
	height: 1em;
	width: 1em;
	margin-left: -1.2727em;
	top: 0; bottom: 0; margin-top: auto; margin-bottom: auto;
	cursor: pointer;
}
div[docsjs-tag="efiller"]{
	position: relative;
}

/* c-d (Cloud9 Ace) styles */
div[docsjs-tag="c-d"]{
	position: relative;
	width: 100%;
	padding: 1.25em;
	padding-top: 0; padding-bottom: 0;
	margin-left: -1.25em;
	white-space: pre;
	font-family: 'Source Code Pro', monospace !important;
}
.ace_active-line, .ace_gutter-active-line{
	background-color: rgba(31,36,41,0.055) !important;
}
.ace_gutter{
	background-color: rgba(31,36,41,0.08) !important;
}
.ace_print-margin{
	background-color: rgba(31,36,41,0.06) !important;
	width: 100% !important;
}
.ace_scroll-left{
	box-shadow: none !important;
}
.ace_br1, .ace_br12, .ace_br15{
	border-radius: 0;
}
pre{
	display: inline;
	font-size: 0.8em;
	font-family: 'Source Code Pro', monospace;
	padding: 0.2em;
	background: rgba(40,40,40,0.04);
}

/* Buttons */
div[docsjs-tag="button-minimize"],div[docsjs-tag="button-menu"]{
	position: absolute;
	font-size: 1.2em;
	height: 1em;
	width: 1em;
	border: solid 0.4em transparent;
	left: 0; right: 0; margin-left: auto; margin-right: 0;
	top: 0; bottom: 0; margin-top: 0.11em;
	cursor: pointer;
}
div[docsjs-tag="button-minimize"]{
	font-size: 0.95em;
}
div[docsjs-tag="button-menu"]{
	opacity: 0;
	-o-transition: opacity 300ms;
	-ms-transition: opacity 300ms;
	-moz-transition: opacity 300ms;
	-webkit-transition: opacity 300ms;
    transition: opacity 300ms;
}
div[docsjs-tag="button-menu"][docsjs-state="active"]{
	opacity: 1;
}
[docsjs-tag="button-parent"]{
	background-color: transparent;
	height: 1em;
	width: 1em;
	position: relative;
}
[docsjs-tag="button-child"]{
	background-color: #000;
	border-color: #000;
	color: #000;
	position: absolute;
	border-style: solid;
	width: 0.1em;
	height: 0.1em;
	border-width: 0.075em;
	-webkit-border-radius: 0.1em;
	-moz-border-radius: 0.1em;
	border-radius: 0.1em;
	left: 0; right: 0; top: 0; bottom: 0; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto;
}

/* Buttons in sidebars */
div[docsjs-tag="column-filler"] div[docsjs-tag="button-child"]{
	background-color: #FFF;
	border-color: #FFF;
	color: #FFF;
}

/* Sidebars */
div[docsjs-tag="column-left"],div[docsjs-tag="column-right"]{
	height: 100%;
	top: 0;
}
div[docsjs-tag="column-handle"]{
	position: absolute;
	top: 0;
	height: 100%;
	width: 2em;
	cursor: pointer;
	cursor: ew-resize;
}
div[docsjs-tag="column-left"] div[docsjs-tag="column-handle"]{
	left: 100%;
	margin-left: -1em;
}
div[docsjs-tag="column-right"] div[docsjs-tag="column-handle"]{
	margin-left: -1em;
}
div[docsjs-tag="column-handle-inner"]{
	position: absolute;
	height: 100%;
	width: 0.4em;
	display: none;
	left: 0; right: 0; margin-left: auto; margin-right: auto;
	z-index: 3;
}
div[docsjs-tag="column-filler"]{
	position: relative;
	background-color: #1F2429;
	background-color: rgba(31,36,41,0.95);
	z-index: 1;
	color: #FFF;
}
div[docsjs-tag="column-content"]{
	position: relative;
	background-color: #FFF;
	background-color: rgba(31,36,41,0.05);
	overflow: hidden;
	box-sizing: border-box;
}
div[docsjs-tag="etitle"]{
	font-size: 1.6em;
	font-weight: 700;
	padding-left: 0.625em;
	padding-top: 0.75em;
	padding-bottom: 0.4em;
}
div[docsjs-tag="column-content"] div[docsjs-tag="e-g"],div[docsjs-tag="column-content"] div[docsjs-tag="e-x"]{
	height: auto;
}

/* Menu */
div[docsjs-tag="menu"]{
	position: relative;
	overflow: hidden;
	padding: 1em;
}
div[docsjs-tag='menu-preferences']{
	position: relative;
	width: 100%;
	text-align: center;
}
div[docsjs-tag='menu-preferences-item']{
	display: inline-block;
	cursor: pointer;
	font-size: 1.8em;
	width: 1em;
	height: 1em;
	padding: 0.25em;
	padding-top: 0;
	opacity: 1;
}
div[docsjs-tag='menu-title']{
	line-height: 1.8em;
}
div[docsjs-tag='menu-title'][docsjs-state='youarehere']{
	font-weight: 700;
}
div[docsjs-tag='menu-item']{
	border-left: solid 0.05em #E0E0E0;
	padding-left: 0.5em;
	overflow: hidden;
}
div[docsjs-tag='menu-item'][docsjs-state='min']{
	max-height: 2.8em;
	border-bottom: solid 0.05em #E0E0E0;
	background-color: rgba(40,40,40,0.02);
}
div[docsjs-tag='menu-item'][docsjs-state='min']:hover{
	border-left: solid 0.05em #888;
	border-bottom: solid 0.05em #888;
}
div[docsjs-tag='menu-item']:hover{
	border-left: solid 0.05em #888;
	cursor: pointer;
}